.card_main {
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-template-rows: repeat(3 , 22%);
    margin: 8rem 2em;
    gap: 1.5rem;
}

.card_main2 {
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-template-rows: repeat(3 , 22%);
    margin: 8rem 2em;
    gap: 1.5rem;
    transform: translateY(-400px);
}
.card a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.card {
    color: rgb(255, 255, 255);
    transition: transform 150ms ease;
    z-index: 2;
}

.card_content {
    transform: translateY(-14.6em);
    opacity: 1;
    background: linear-gradient(
        #ffffff00 5%,
        #92929213 40%,
        #3f3f3f52,
        #3f3f3f73 45%,
        #00000083 60%
    );
    border-radius: 2em; 
    padding: 8em 1em 2em 1em;
    opacity: 0;
    transition: opacity 100ms linear;
}

.card_content > * {
    opacity: 0;
    transition: 100ms linear;
    transition: transform 50ms ease;
}

.card:hover .card_content > *{
    opacity: 1;
}

.card:hover .card_content {
    opacity: 1;
}

.card:hover {
    transform: scale(1.05);
}

.card img{
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 2em;
}

h2 {
    font-family: 'Castoro Titling', cursive;
    position: relative;
    color: #fff;
}

.card p {
    font-family: 'Quicksand', sans-serif;
    position: relative;
    padding-top: 1.5em;
}

.h2::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1em;
    height: 3px;
    background: #ffffff;
    width: 65%;
    transform: scaleX(0);
    transform-origin: left  ;
    transition: transform 500ms ease;
}

.card:hover .h2::after {
    transform: scaleX(1);
}

.box2 {
    margin-top: -500px;
}
